basePath: /
definitions:
  driver.CreateDriverRequest:
    properties:
      carBrand:
        type: string
      carModel:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      lat:
        type: number
      lon:
        type: number
      plate:
        type: string
      taxiType:
        type: string
    required:
    - carBrand
    - carModel
    - firstName
    - lastName
    - lat
    - lon
    - plate
    - taxiType
    type: object
  driver.Driver:
    properties:
      carBrand:
        type: string
      carModel:
        type: string
      createdAt:
        type: string
      firstName:
        type: string
      id:
        type: string
      lastName:
        type: string
      location:
        $ref: '#/definitions/driver.Location'
      plate:
        type: string
      taxiType:
        type: string
      updatedAt:
        type: string
    type: object
  driver.Location:
    properties:
      lat:
        type: number
      lon:
        type: number
    type: object
  driver.NearbyDriver:
    properties:
      distanceKm:
        type: number
      firstName:
        type: string
      lastName:
        type: string
      plate:
        type: string
    type: object
host: localhost:8081
info:
  contact: {}
  description: Driver management microservice for Bitaksi TaxiHub case
  title: TaxiHub Driver Service API
  version: "1.0"
paths:
  /drivers:
    get:
      consumes:
      - application/json
      description: Lists drivers with pagination
      parameters:
      - default: 1
        description: Page number
        in: query
        name: page
        type: integer
      - default: 20
        description: Page size
        in: query
        name: pageSize
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/driver.Driver'
            type: array
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: List drivers
      tags:
      - drivers
    post:
      consumes:
      - application/json
      description: Creates a new driver with basic information and current location
      parameters:
      - description: Driver info
        in: body
        name: driver
        required: true
        schema:
          $ref: '#/definitions/driver.CreateDriverRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/driver.Driver'
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: Create a new driver
      tags:
      - drivers
  /drivers/nearby:
    get:
      consumes:
      - application/json
      description: Returns drivers within 6km radius of given location and optional
        taxi type
      parameters:
      - description: Latitude
        in: query
        name: lat
        required: true
        type: number
      - description: Longitude
        in: query
        name: lon
        required: true
        type: number
      - description: Taxi type filter (sari, turkuaz, vb.)
        in: query
        name: taxiType
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/driver.NearbyDriver'
            type: array
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties: true
            type: object
      summary: Get nearby drivers
      tags:
      - drivers
swagger: "2.0"
